@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&family=Roboto:wght@300;400;500;700&family=Rubik:ital,wght@0,600;0,700;1,700&display=swap'); 
body {
    background-image: url(https://assets.entrepreneur.com/content/3x2/2000/1615220129-GettyImages-1140885572.jpg?crop=4:3);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    text-align: center;
    font-family: 'Rubik', sans-serif;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  .App {
    text-align: center;
  }
  
  .App-header {
    background-color: rgba(39, 39, 39,0.4);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  .text-box{
    padding-top: 3%;
    color: #272727;
    background-color: #fff;
    border-radius: 8px;
    align-items: center;
    width: 60%;
    height: 40vh;
    text-align: center;
    box-shadow: 8.0px 16.0px 16.0px #00000040;
 }
 .text-box p {
  margin-top: 0%;
}
  .App-link {
    color: #61dafb;
  }
  
  input[type=number] {
    padding: 1.5%;
    border: none;
    border-radius:8px;
    font-size: 1em;
    width: 5em;
  }
  
  button {
    background-color: #0032E1;
    border-radius: 8px;
    color: #fff;
    padding:2%;
    font-size: 1em;
    margin-left: 2%;
    margin-right: 2%;
    cursor: pointer;
    font-weight:500;
    border:none;
  }
  
  textarea {
    
    font-size: calc(10px + 2vmin);
  }
  
  .ContractInfo {
    font-size: calc(10px + 1vmin);
    text-align: left;
    width: 90vw;
    height: 7em;
    padding: 2vw;
    overflow-x: scroll;
    white-space: pre;
  }