body{
  max-width: 100vw;
  overflow-x: hidden;
  height:2000px;
}
.navbar-default{
  display:flex;
  flex-direction:row;
  width:100%;
}
.navbar-default .navbar-item{
  width:200px;
}
.card-contain{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left:100px;
  padding-right:100px;
}
h2{
  text-align:center;
  margin-top:100px;
  color:navy;
}
.intro-container{
  width:100%;
  height:400px;
  padding: 0;
  margin: 0;
  background-attachment: fixed;
  background-size:cover;
  background-image: url('https://source.unsplash.com/3000x3000/?crypto');
  margin-top:-50px;
}
.blur{
  width:100%;
  height:100%;
  background-color: rgba(0,0,0,0.6);

}
.blur h2{
  color: #fff;
  padding-top:70px;
  font-size:3em;
}